* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.filme-info {
    position: relative;
    width: 100%;
    height: 30vw;
    overflow: hidden;
}

.filme-fundo {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../../img/jumanjiposter.png');
    background-size: cover;
    background-position: center 30%;
    filter: brightness(0.6);
}

.filme-quadro {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}
